:root {
    --prijmary-coller: rgba(255, 250, 236, 1);
    --second-primary-coller: rgba(241, 243, 255, 1);
    --text-1: rgba(73, 73, 73, 1);
    --text-coller-2: rgba(131, 131, 126, 1);
    --coller-text-2: rgba(193, 192, 187, 1);
    --primary-coller-2: rgba(255, 207, 61, 1);
    --d-9d-9d-9: rgba(255, 255, 255, 1);
    --coller-grading-1: rgba(254, 241, 199, 1);
}
