<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <title>Cards</title>
        <meta 
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
            rel="stylesheet"
            type='text/css'
        >
        <link rel="stylesheet" href="/assets/css/cardMateri/card.css">
    </head>
    <body>
      <div class="cards-wrapper">
        <div class="card-grid-space">
          <a class="card" href="/view/materi1.html" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Mengenal JavaScript</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Cara Menulis Code JavaScript di HTML</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Fungsi Output di JavaScript</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Variabel Dan Tipe Data</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Jendela Dialog Untuk Output</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Operator</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Percabangan</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>

        <!-- card -->
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Perulangan</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <!-- card -->
        <!-- card -->
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Struktur Data Array</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <!-- card -->
        <!-- card -->
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Fungsi Di JavaScript</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <!-- card -->
        <!-- card -->
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Object JavaScript</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <!-- card -->
        <!-- card -->
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Mengenal DOM Untuk Manipulasi HTML</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <!-- card -->
        <!-- card -->
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Menggunakan Object Math</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <!-- card -->
        <!-- card -->
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Menggunakan AJAX</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <!-- card -->
        <!-- card -->
        <div class="card-grid-space">
          <a class="card" href="" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>Memahami Event Di JavaScript</h1>
              <div class="tags">
                <div class="tag">JS</div>
              </div>
            </div>
          </a>
        </div>
        <!-- card -->
      </div>
        <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
    </body>
</html>