<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/materi1.css">
  <title>Document</title>
</head>
<body>
  <div class="grid" ></div>	  
  <section class="page-wrapper" >


    <article>
      <span></span>
      <h1 class="canter">Proses Pembelajaran Ajarin Puh</h1>
      <p>Selamat datang di Ajarinpuh.com Sebelum memulai perjalanan belajar Anda, mari kita pahami tahapan belajar, metode pembelajaran, dan fasilitas yang dapat meningkatkan efektivitas proses belajar Anda.</p>
      <h1>Bantuan Teknis</h1>
      <p>Apabila Anda mengalami kendala terkait situs Ajarinpuh.com atau administrasi kelas, jangan ragu untuk menghubungi kami melalui tombol chat di kanan bawah layar saat mengakses situs Ajarinpuh.com. Gunakanlah fitur chat ini untuk pertanyaan teknis, bukan forum diskusi. Terima kasih!</p>
      <h1>Bantuan Teknis</h1>
      <p>Mayoritas materi dalam kelas ini berbentuk teks atau tulisan. Mengapa demikian? Karena kami telah menyadari bahwa dalam belajar pemrograman, materi teks efektif untuk diingat, dipahami, dan yang paling penting, dipraktikkan.</p>
    </article>
    <article>
      <h1 class="canter">Pengantar HTML</h1>
      <p>- HTML adalah singkatan dari Hyper Text Markup Language, menjadi dasar pembentukan halaman web.</p>
      <p>- Sebagai bahasa markup standar, HTML digunakan untuk merinci struktur setiap halaman web.</p>
      <p>- Dengan label pada bagian-bagian konten seperti "this is a heading," "this is a paragraph," dan "this is a link," HTML memberikan kerangka yang jelas untuk pembuatan halaman web yang informatif dan terstruktur."</p>
    </article>


    <article>
      <h1 class="canter">HTML Editor </h1>
      <p>Pelajari HTML Menggunakan Notepad atau TextEditHalaman web dapat dibuat dan dimodifikasi dengan menggunakan editor HTML profesional.
        Namun, untuk mempelajari HTML kami merekomendasikan editor teks sederhana seperti Notepad (PC) atau TextEdit (Mac).
        Kami percaya bahwa menggunakan editor teks sederhana adalah cara yang baik untuk belajar HTML.Ikuti langkah-langkah di bawah ini untuk membuat halaman web pertama Anda dengan Notepad atau TextEdit.
        Ikuti langkah-langkah di bawah ini untuk membuat halaman web pertama Anda dengan Notepad atau TextEdit.</p>
      <p></p>
      <h1>Langkah 1: Buka Notepad (PC)Windows 8 atau lebih baru:</h1>
      <p>Buka Penemu > Aplikasi > TextEdit
        Ubah juga beberapa preferensi agar aplikasi menyimpan file dengan benar. Di Preferensi > Format > pilih "Teks Biasa"
        Kemudian di bawah "Buka dan Simpan", centang kotak yang bertuliskan "Tampilkan file HTML sebagai kode HTML, bukan teks yang diformat".Kemudian buka dokumen baru untuk meletakkan kodenya.</p>
        <h1>Langkah 2: Tulis Beberapa HTML</h1>
        <p>Tulis atau salin kode HTML berikut ke Notepad:</p>
        <img src="/assets/img/html/materi-html-1.png" alt="" class="img-materi">
        <h1>Langkah 3: Simpan Halaman HTML</h1>
        <p>Simpan file di komputer Anda. Pilih File > Simpan sebagai di menu Notepad.
          Beri nama file "index.htm" dan atur pengkodeannya ke UTF-8 (yang merupakan pengkodean pilihan untuk file HTML).</p>
          <img src="/assets/img/html/materi-html-2.png" alt="" class="img-materi-1">
          <h1>Langkah 4: Lihat Halaman HTML di Browser Anda</h1>
          <p>Simpan file di komputer Anda. Pilih File > Simpan sebagai di menu Notepad.
            Beri nama file "index.htm" dan atur pengkodeannya ke UTF-8 (yang merupakan pengkodean pilihan untuk file HTML).
            Buka file HTML yang disimpan di browser favorit Anda (klik dua kali pada file tersebut, atau klik kanan - dan pilih "Buka dengan").
            Hasilnya akan terlihat seperti ini:
            </p>
            <img src="/assets/img/html/materi-html-3.png" alt="" class="img-materi">
    </article>


    <article>
      <h1 class="canter">HTML Besic</h1>
      <p>Dalam bab ini kami akan menunjukkan beberapa contoh dasar HTML.
        Jangan khawatir jika kami menggunakan tag yang belum Anda pelajari.</p>
        <h1>Dokumen HTML</h1>
        <p>Dokumen HTMLSemua dokumen HTML harus dimulai dengan deklarasi tipe dokumen: <span>&lt;!DOCTYPE html&gt;</span>.
          Dokumen HTML itu sendiri dimulai dengan <span>&lt;html&gt;</span> dan diakhiri dengan <span>&lt;/html&gt</span>;. Bagian yang terlihat dari dokumen HTML adalah antara body> dan &lt;/body&gt;.&lt;/p&gt; </p>
          <img src="/assets/img//html/materi-html-4.png" alt="" class="img-materi">
          <h1>Penjelasan</h1>
          <p>Elemennya <span>&lt;;html&gt;</span> adalah elemen root dan mendefinisikan keseluruhan dokumen HTML.
            Ini memiliki tag awal <span>&lt;html&gt;</span> dan tag akhir <span>&lt;/html&gt</span>;.
            Lalu, di dalam <span>&lt;html&gt;</span> elemen tersebut terdapat <span>&lt;body&gt;</span> elemen:</p>
    </article>
    
    <article>
      <h1>Materi Lainya Bisa Dilihat Di Bawah Ini</h1>
      <div class="a-materi">
        <a class="a-link" href="https://www.w3schools.com/html/default.asp">pelajari lebih lanjut</a>
      </div>
    </article>


  </section>
</body>
</html>